<!DOCTYPE html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>Create Category FOrm</title>
</head>
<body class="container">
  <h1 style="margin: 20px;" class="title is-2">Create a new category</h1>
  <form method="POST" action="/category/create" class="field" enctype="multipart/form-data">
    <label for="name" class="label">Name Of Category</label>
    <div class="control">
        <input class="input" type="text" id="name" name="name" placeholder="Chinese Philosophy" required>
      </div>
      <label for="description" class="label">Description</label>
    <div class="control">
      <textarea id="description" class="textarea" placeholder="Description..." name="description" required></textarea>
    </div>
    <label for="timeline" class="label">Timeline</label>
    <div class="control">
      <input type="text" class="input"  placeholder="564BCE - 54AC" id="timeline" name="timeline" required>
    </div>

    
    <div class="file is-primary has-name" style="margin-top: 20px;">
      <label class="file-label">
        <input class="file-input" type="file" name="image" accept="image/png, image/gif, image/jpeg">
        <span class="file-cta">
          <span class="file-label">
            Upload File
          </span>
        </span>
        <span class="file-name"> File name will be shown here
        </span>
      </label>
    </div>
    <div class="control">
      <button style="margin-top: 20px;" class="button is-primary is-outlined" type="submit">Submit</button>
    </div>
  </form>

  <script>
      const file_label = document.querySelector('.file-name')
      const file_input = document.querySelector(".file-input")

      file_input.addEventListener('change', function (e) {
        file_label.textContent =  file_input.files[0].name
      })
  </script>
</body>
</html>
